@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto:wght@300&display=swap');
body{
  background-image: url('./Asset/127996-triangle-circle-abckground.gif');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: visible;
}
.app{
  text-align: center;
  max-width: 1080px;
  margin:40px auto;
}
.input-group{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin:auto;
}
.input-group input{
  padding:15px;
}

.btn{
  background-color: #2e2e2e;
  color:#f2f2f2;
  margin-top: 20px;
  box-shadow: none;
  border:none;
  padding:15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 3rem;
}

.list-sort{
  max-width: 480px;
  margin:auto;
}

.list-container{
  display: flex;
  width: 100%;
  padding:40px;
}
#editInput{
  background-color: #22272B;
  color: white;
}

.list-container__right{
  flex:1;
  border:2px dotted #888CF0;
}
.list-container__left{
  flex:1;
  padding:10px;
}
.Titletext{
  color: rgb(217, 213, 213);
}
.list-item{
  text-align: center;
  display:flex;
  align-items: center;
  background-color: #22272B;
  color: #8c98a3;
  margin-top:10px;
  border-radius: 2rem;
  cursor:move;
  min-height: 20px;

  

}
.list-item:hover{
  scale:1.01;
  background-color: rgb(218, 192, 192);
  color: black;

}
.list-item i{
  margin-right:20px;
  font-size: 10px;
}
h3{
  font-size: 30px;
}
.app__navigation{
  display: flex;
  justify-content: flex-end;
  
}
.app__navigation >a{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #FFB7C2;
    border: 1px solid;
    padding: 5px;
}
.container-sort__wrapper{
  display:flex;
  justify-content: center;

 
}
.delete{
  cursor: pointer;

}
.edit{
  cursor: pointer;
 
}
.animatedImage{
  width: 200px;
}
.animParent{
  display: flex;
  justify-content: end;
  align-items: start;
}
#btntest{
  border-radius: 1rem;
  padding-right: 135px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.container-sort__column {
  flex:1;
  margin-right:10px;
}

.container-sort__items {
  background-color: rgb(27, 26, 26);
  border: 8px solid rgb(27, 26, 26);
  min-height: 10px;
  border-radius: 1.5rem;
  padding: 0 0.5rem 0;
  
}
